doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Dashboard | Safe Spot
    // Bootstrap
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
    //link(rel='stylesheet', href='../css/hacker.css')
    style
      include ../css/hacker.css
      include ../css/dashboard.css
  body(style='padding-top: 65px')
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          span.navbar-brand Safe Spot Dashboard
    .container
      .row
        .col-lg-6
            //.row
            .panel.panel-default
              .panel-heading
                | Incidents
              .panel-body
                .table-responsive
                  table#incidents-table.table.table-striped.table-hover
                    thead
                      tr
                        th Date
                        th Region
                        th Reports
                        th Level
                        th Type
                        th Status
                    tbody
                      for incident in incidents
                        tr.inc-row(id=incident._id)
                          td= incident.time
                          td= incident.region
                          td= incident.report_count
                          td= incident.level
                          td= incident.type
                          td= incident.status
        #incident-container.col-lg-6
          .row
            | Select an incident.
      hr
      footer
        p © 2016 Company, Inc.
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')

    script
      include ../dashboard.js
